* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #121215;
}

.container {
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 500px;
  background-color: #e5e5f6;
}

h1 {
  text-align: center;
}