
:root {
    --primary-color: rgba(24, 61, 109, 0.6);
    --primary-color-darker: rgb(24, 61, 109);

}

* {
    box-sizing: border-box;
    outline: none;

    font-family: 'Epilogue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #cff;
    padding: 50px;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 5px;

}

form input {
    font-size: 24px;
    height: 50px;
    padding: 20px;
}

form input:focus{
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover{
    background: var(--primary-color-darker);
}

.paragrafo-result {
    color: green;
}

.bad {
    color: red;
}