* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #121219;
}

.container {
  border-radius: 8px;
  width: 400px;
  min-height: 200px;
  background: #fefefe;
  padding: 20px;
  margin: 0 12px 0 12px;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

input {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 20px;
  outline: none;
  color: #121219b7;
}

input:focus {
  border: 2px solid #121219bd;
}

button {
  margin-top: 10px;
  width: 100%;
  height: 40px;
}